body {
    padding-top: 0px;
    font-family: 'Fontin-Sans', serif;
     position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}


h1 {
    color: #23314D;
    font-size: 200%;
}

h3 {
    color: #23314D;
    font-size: 150%;
}

.navbar-inverse{
	background: #020815;
	font-size: 115%;
}

div.navbar-header{
	font-family: 'Lato';
}

div.greeting {
    font-style: italic;
}

div.Group-Events{
	font-size: 125%;
}

footer {
    text-align: center;
    font-size: 80%;
}

#map {
        height: 670px;
        width: 100%;
        margin: 0 auto 0 auto;
    }



