{% extends "layout.html" %}
{% block title %}Documents{% endblock %}
{% block content %}
      <div class="page-header">
        <h1><b>Add Image</b></h1>

<form role="form" method="post" action='/events/images/images_add/add' enctype="multipart/form-data">
                <label class="control-label">Select File</label>
                <input name = "upload" id="upload" class="file" type="file" multiple data-min-file-count="1">
                <br>
  <select size="1" id="slt_country" name="country">
	<option value=""> - Select - </option>
	{% for event in events %}
		<option value="{{ event.event_id }}">{{ event.title }}</option>
	{% endfor %}
  </select>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-default">Reset</button>
</form>
<hr>

<script>
$(document).on('ready', function() {
    $("#input-42").fileinput({
        maxFileCount: 10,
        allowedFileExtensions: ["jpg", "gif", "png", "jpeg"]
    });
});
</script>

</div>
	  
{% endblock %}

