{% extends "layout.html" %}
{% block title %}Documents{% endblock %}
{% block content %}
      <div class="page-header">
        <h1><b>Documents</b></h1>
        
 			{% if documents %}
	        <form role="form" action="/events/documents/delete"  method="post" name="documents" class="form-horizontal">
	        
	        {% for document in documents %}
	         <div class="container">
			      <!-- Example row of columns -->
			      <div class="row">
			        <div class="col-md-1">
			          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" align="middle" width="60" height="60">
         			  <p class="text-center"> {{ document.date }} </p>
			        </div>
         			<div class="col-md-8">
         			<blockquote>
         			  <h3>{{ document.title }}</h3>
			          <p class="text-left"> {{ document.content }} </p>
			          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a>        
						<a class="btn btn-primary" href="{{ url_for('add_doc.update_documents_page', document_id= document.document_id, event_id = document.event_id) }}" role="button"  style="float: right">Update &raquo;</a>
	    			   </p>   <p> Delete   <input type="checkbox" name="document_id_list" value="{{ document.document_id }}"  /> </p>
			        </blockquote>
			          <h1>  </h1>
			          <hr class="divider">
			        </div>
			      </div>
			      
			  </div>
		    {% endfor %}
	
			<button type="submit" name="delete" value= "{{ event_id }}" class="btn btn-primary">Delete</button>
			</form>
			{% endif %}
			
			
	  </div> 	
     
			
			
			
{% endblock %}

