{% extends "layout.html" %}
{% block title %}Images{% endblock %}
{% block content %}
      <div class="page-header">
        <h1><b>Images Slide</b>  <a class="btn btn-primary btn-lg" href="/events/images/images_add" role="button"  style="float: right"> New &raquo;</a></h1>
	
<br>
<!-- Carousel
================================================== -->
{% if images %}

{% for images_inner in images %}
<div id="myCarousel" class="carousel slide">

{% if images_inner %}
  
<ol class="carousel-indicators">
	{% for image in images_inner %}  
			{% if image.image_id == 1 %}
  	 	 	<li data-target="#myCarousel" data-slide-to="{{ image.image_id }}" class="active"></li>
  	 	 	{% endif %}
  	 	 	{% if image.image_id != 1 %}
  	 	 	<li data-target="#myCarousel" data-slide-to="{{ image.image_id }}" ></li>
  	 	 	{% endif %}
	{% endfor %}
</ol>

<div class="carousel-inner">
{% for image in images_inner %}  
  {% if image.image_id == 1 %} 
  <div class="item active">
    <img src="{{ image.content }}" class="img-responsive center-block">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{image.date}}</h1>
          <p><a class="btn btn-large btn-primary" href="{{ url_for('site.images_all_page', event_id= image.event_id) }}">Browse gallery</a></p>
        </div>
      </div>
    </div>
  {% endif %}
  {% if image.image_id != 1 %}
  <div class="item">
    <img src="{{ image.content }}" class="img-responsive center-block">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{image.date}}</h1>
          <p><a class="btn btn-large btn-primary" href="{{ url_for('site.images_all_page', event_id= image.event_id) }}">Browse gallery</a></p>
        </div>
      </div>
    </div>
  {% endif %}
  <br><br>
{% endfor %}
</div>


  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->
{% endif %}

<br><br>
{% endfor %}

{% endif %}

<!-- /.container -->

</div>
	  
{% endblock %}

