<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Timeline</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />

    <link rel="stylesheet " href="{{ url_for('static', filename='css/jquery-ui.css') }}" />

     <link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}" />

	 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.scss') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}" />

  </head>

  <body>
{% extends "layout.html" %}
{% block title %}Timeline{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
 	<p>
         Operations
         <button type="button" class="btn btn-primary btn-sm btn3d">insert</button>
         <button type="button" class="btn btn-default btn-sm btn3d">delete</button>
         <button type="button" class="btn btn-primary btn-sm btn3d">update</button>
         <button type="button" class="btn btn-default btn-sm btn3d">select</button>
        </p>
	</div>
</div>
    <p class="checkcaption">no modal boxes?</p>
<div class="check">
	<input type="checkbox" id="switch1" name="switch1" class="switch" />
	<label for="switch1"></label>
</div>

<div id="timeline">
	<div class="dot" id="one">
		<span></span>
		<date>1900</date>
	</div>
  <div class="dot" id="two">
		<span></span>
		<date>1910</date>
	</div>
  <div class="dot" id="three">
		<span></span>
		<date>1920</date>
	</div>
  <div class="dot" id="four">
		<span></span>
		<date>1930</date>
	</div>
	<div class="dot" id="five">
		<span></span>
		<date>1940</date>
	</div>
	<div class="dot" id="six">
		<span></span>
		<date>1950</date>
	</div>
	<div class="dot" id="seven">
		<span></span>
		<date>1960</date>
	</div>
	<div class="dot" id="eight">
		<span></span>
		<date>1970</date>
	</div>
	<div class="dot" id="nine">
		<span></span>
		<date>1980</date>
	</div>
  <div class="inside"></div>
</div>

<!-- Modals -->

<article class='modal one'>
  <time>17 December 1903</time>
  <h2>Kitty Hawk</h2>
  <p>Wilbur and Orville Wright and the first powered flight, Kitty Hawk, North Carolina, December 17 1903. </p>
</article>

<article class='modal two'>
  <time>15 April 1912</time>
  <h2>Titanic</h2>
  <p>RMS Titanic was a British passenger liner that sank in the North Atlantic Ocean in the early morning of 15 April 1912, after colliding with an iceberg during her maiden voyage from Southampton to New York City. Of the 2,224 passengers and crew aboard, more than 1,500 died in the sinking, making it one of the deadliest commercial peacetime maritime disasters in modern history. The largest ship afloat at the time it entered service, the RMS Titanic was the second of three Olympic class ocean liners operated by the White Star Line, and was built by the Harland and Wolff shipyard in Belfast. Thomas Andrews, her architect, died in the disaster. </p>
</article>

<article class='modal three'>
  <time>1921</time>
  <h2>Insulin Discovered </h2>
  <p>Medical researcher Frederick Banting and research assistant Charles Best studied the islets of Langerhans in the pancreas of dogs at the University of Toronto. Banting believed that he could find a cure for the "sugar disease" (diabetes) in the pancreas. In 1921, they isolated insulin and successfully tested in on diabetic dogs, lowering the dogs' blood sugar level.</p>
</article>

<article class='modal four'>
  <time>July 2, 1937</time>
  <h2>Amelia Earhart First Woman to Fly Solo Across the Atlantic</h2>
  <p>Having won multiple competitions, flown in air shows, and set new altitude records, Amelia Earhart began looking for a bigger challenge. In 1932, she decided to become the first woman to fly solo across the Atlantic. On May 20, 1932, she took off again from Newfoundland, piloting a small Lockheed Vega.
It was a dangerous trip: clouds and fog made it difficult to navigate, her plane’s wings became covered with ice, and the plane developed a fuel leak about two-thirds of the way across the ocean. Worse, the altimeter stopped working, so Earhart had no idea how far above the ocean’s surface her plane was -- a situation that nearly resulted in her crashing into the Atlantic Ocean.</p>
</article>

<article class='modal five'>
  <time>August 6, 1945</time>
  <h2>The Atomic Bombing of Hiroshima and Nagasaki</h2>
  <p>Attempting to bring an earlier end to World War II, U.S. President Harry Truman made the fateful decision to drop a massive atomic bomb on the Japanese city of Hiroshima. On August 6, 1945, this atomic bomb, known as "Little Boy," flattened the city, killing at least 70,000 people that day and tens of thousands more from radiation poisoning.</p>
</article>

<article class='modal six'>
  <time>03/02 - 1992</time>
  <h2>Mais pourquoi?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates magnam excepturi laboriosam minima soluta, quae. Sunt repellat totam non, et sed in veniam fuga odio eius! Nesciunt amet optio recusandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sit dolor sint amet, corporis aperiam nihil, quas, accusantium enim suscipit rem non possimus officiis. Recusandae hic at, fugiat eos eveniet.</p>
</article>

<article class='modal seven'>
  <time>03/02 - 1992</time>
  <h2>Mais pourquoi?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates magnam excepturi laboriosam minima soluta, quae. Sunt repellat totam non, et sed in veniam fuga odio eius! Nesciunt amet optio recusandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sit dolor sint amet, corporis aperiam nihil, quas, accusantium enim suscipit rem non possimus officiis. Recusandae hic at, fugiat eos eveniet.</p>
</article>

<article class='modal eight'>
  <time>03/02 - 1992</time>
  <h2>Mais pourquoi?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates magnam excepturi laboriosam minima soluta, quae. Sunt repellat totam non, et sed in veniam fuga odio eius! Nesciunt amet optio recusandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sit dolor sint amet, corporis aperiam nihil, quas, accusantium enim suscipit rem non possimus officiis. Recusandae hic at, fugiat eos eveniet.</p>
</article>

<article class='modal nine'>
  <time>03/02 - 1992</time>
  <h2>Mais pourquoi?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates magnam excepturi laboriosam minima soluta, quae. Sunt repellat totam non, et sed in veniam fuga odio eius! Nesciunt amet optio recusandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sit dolor sint amet, corporis aperiam nihil, quas, accusantium enim suscipit rem non possimus officiis. Recusandae hic at, fugiat eos eveniet.</p>
</article>

    
    	<script src="{{ url_for('static', filename='js/jquery-1.min.js') }}" ></script>
     	<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}" ></script>
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}


  </body>
</html>
