{% extends "layout2.html" %} {% block title %}messagePage{% endblock %}
{%block navbarsignup %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<ul class="nav navbar-nav navbar-right">

	<li class="dropdown"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown" role="button" aria-haspopup="true"
		aria-expanded="false"><span class="glyphicon glyphicon-user"></span>
			{{ user_name }}</a>
		<ul class="dropdown-menu">
			<li><a href="#"><span class="glyphicon glyphicon-user">
						Profile</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-envelope">
						Inbox</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-cog">
						Settings</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="{{url_for('register.log_out')}}"><span class="glyphicon glyphicon-log-out" >
						Log-out</a></li>
		</ul></li>

</ul>

{% endblock %} {% block content %}
<link rel="stylesheet"
	href="{{ url_for('static', filename='css/messages.css') }}" />
<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container bootstrap snippet">

  <div class="header">
    <h3 class="text-muted prj-name">
        <span class="fa fa-users fa-2x principal-title"></span>
        Your Messages
    </h3>
  </div>


  <div class="jumbotron list-content">
    <ul class="list-group">
      <li href="#" class="list-group-item title">
            </li>
        	 {% if messages %}

                {% for message in messages %} 
                <li href="#" class="list-group-item text-left">
       <div class="row">
		<div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default-filled">
                <div class="testimonial-section">
                	{{message.content}}
            	</div>
                <div class="testimonial-desc">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">{{message.friendUsername}}</div>
                    	<div class="testimonial-writer-designation">Front End Developer</div>
                    	<a href="#" class="testimonial-writer-company">Touch Base Inc</a>
                    </div>
                </div>
            </div>   
		</div>
		</li>
                 {% endfor %} 
                
                {% endif %}

     
    
  </div>
      <div> <a data-toggle="modal" class="btn btn-info"
		data-target="#sendMessage" role="button">Send a Message</a>
		</div>
                <div class="row centered-form">
	<div class="centered modal fade" id="sendMessage" tabindex="-1"
		role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span><span class="sr-only">Close</span>
					</button>
					<h3 class="modal-title" id="lineModalLabel">Delete</h3>
				</div>
				<div class="modal-body">

					<!-- content goes here -->
					<form role="form" method="post" action='/sendMessage' data-toggle="validator" >
						<div class="form-group">
							<label for="username">Username of friend</label> 
							<input required class="form-control" name="user_name"
								placeholder="Username" requiered></div>
							<div class="form-group">
							<label for="content">Message</label>
							 <textarea required class="form-control" id="content" name="content"
								placeholder="message" > </textarea>
						</div>
						<button type="submit" class="btn btn-primary">Send</button>
					</form>

				</div>

			</div>
		</div>
	</div>
              
           
{% endblock %}
                       