{% extends "layout2.html" %} {% block title %}messagePage{% endblock %}
{%block navbarsignup %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<ul class="nav navbar-nav navbar-right">

	<li class="dropdown"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown" role="button" aria-haspopup="true"
		aria-expanded="false"><span class="glyphicon glyphicon-user"></span>
			{{ user_name }}</a>
		<ul class="dropdown-menu">
			<li><a href="#"><span class="glyphicon glyphicon-user">
						Profile</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-envelope">
						Inbox</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-cog">
						Settings</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="{{url_for('register.log_out')}}"><span class="glyphicon glyphicon-log-out" >
						Log-out</a></li>
		</ul></li>

</ul>

{% endblock %} {% block content %}
<link rel="stylesheet"
	href="{{ url_for('static', filename='css/messages.css') }}" />
{% if messages %}
{%for conversation in messages%}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <div class="btn-group ">
                        <a type="button" class="btn btn-primary btn-block btn-lg" data-toggle="collapse" data-parent="#accordion" href='#{{conversation.sender}}'>
                            <span class="glyphicon glyphicon-comment"> Chat with {{conversation.sender}}</span>
                        </a>
                    </div>
                </div>
                <div class="panel-collapse collapse" id='{{conversation.sender}}'>
                <div class="panel-body">
                    <ul class="chat">
           {%for message in conversation.messages%}

                    	{%if user_name == message.receiver %}
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{message.sender}}</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span></small>
                                </div>
                                 <form method="post" action = '/deleteMessage'>
						            <input type=hidden value="{{message.messageId}}"name="message_to_delete"></input>
						            <button type= "submit"class="btn btn-danger  btn-xs glyphicon glyphicon-trash"  title="Delete"></button>
						           </form>
                                <p>
                                    {{message.content}}
                                </p>
                            </div>
                        </li>
                        {%endif%}
                        {%if message.sender == user_name %}
                        <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span></small>
                                    <strong class="pull-right primary-font">{{message.sender}}</strong>
                                </div>
                                <form method="post" action = '/deleteMessage'>
						            <input type=hidden value="{{message.messageId}}"name="message_to_delete"></input>
						            <button type= "submit"class="btn btn-danger  btn-xs glyphicon glyphicon-trash"  title="Delete"></button>
						           </form>
                                <p>
                                   {{message.content}}
                                </p>

                            </div>
                        </li>
                         {% endif %}


           {%endfor%}
                </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                    <form method = "post" action = '/sendMessage'>
                        <input id="btn-input" name="content" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <input type=hidden value="{{ conversation.sender}}"name="user_name"></input>
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                     </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <div class="btn-group ">
                        <a type="button" class="btn btn-primary btn-block btn-lg" data-toggle="collapse" data-parent="#accordion" href="#collapseO2">
                            <span class="glyphicon glyphicon-comment"> Sart new conversation</span>
                        </a>
                    </div>
                </div>

            <div class="panel-collapse collapse" id="collapseO2">
                <div class="panel-body">
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                    <form method = "post" action = '/sendMessage'>
                   	 <label for="btn-input2">Username</label>

                   	   <input id="btn-input2" type="text" class="form-control input-sm" name="user_name" placeholder="Enter the username of your friend"></input>

                        <input id="btn-input" name="content" type="text" class="form-control input-sm" placeholder="Type your message here..."></input>

                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                     </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
