{% extends "layout2.html" %} {% block title %}NotificationsPage{% endblock %}
{%block navbarsignup %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<ul class="nav navbar-nav navbar-right">

	<li class="dropdown"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown" role="button" aria-haspopup="true"
		aria-expanded="false"><span class="glyphicon glyphicon-user"></span>
			{{ user_name }}</a>
		<ul class="dropdown-menu">
			<li><a href="#"><span class="glyphicon glyphicon-user">
						Profile</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-envelope">
						Inbox</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-cog">
						Settings</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="{{url_for('register.log_out')}}"><span class="glyphicon glyphicon-log-out" >
						Log-out</a></li>
		</ul></li>

</ul>

{% endblock %} {% block content %}
<link rel="stylesheet"
	href="{{ url_for('static', filename='css/friends.css') }}" />
<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container bootstrap snippet">

  <div class="header">
    <h3 class="text-muted prj-name">
        <span class="fa fa-users fa-2x principal-title"></span>
         Your Notifications
    </h3>
  </div>


  <div class="jumbotron list-content">
    <ul class="list-group">
      <li href="#" class="list-group-item title">
            </li>

        	 {% if requests %}

                {% for request in requests %}
                     <li href="#" class="list-group-item text-left">
        <img class="img-thumbnail" src="http://bootdey.com/img/Content/User_for_snippets.png">
        <label class="name">
           {{request.requester}}  added you as a friend
        </label>
        <label class="pull-right">
        <form method="post" action = '/addFriend'>
        	<input type=hidden value="{{request.requestId}}" name="friend_to_add"></input>
            <button type= "submit"  class="btn btn-success btn-xs glyphicon glyphicon-ok" title="Accept"></button></form>
           <form method="post" action= '/deleteFriendRequest'>
            <input type=hidden value="{{request.requestId}}" name="request_to_delete"></input>
            <button type= "submit" class="btn btn-danger  btn-xs glyphicon glyphicon-trash"  title="Delete"></button>
            </form>
        </label>
        <div class="break"></div>
      </li>
                 {% endfor %}

                {% endif %}
			{%if notifications%}
				{%for notification in notifications%}
			{%if notification.type == 'comment'%}
	<li href="#" class="list-group-item text-left">
        <label class="name">
           {{notification.requester}} made a comment about your Map
        </label>
        <label class="pull-right">
           <form method="post" action= '/deleteNotification'>
            <input type=hidden value="{{notification.notificationId}}" name="notification_to_delete"></input>
            <button type= "submit" class="btn btn-danger  btn-xs glyphicon glyphicon-trash"  title="Delete"></button>
            </form>
        </label>
        <div class="break"></div>
      </li>
       {% endif %}
       {%if notification.type == 'message'%}
      <li href="#" class="list-group-item text-left">
        <label class="name">
           {{notification.requester}} sended you a message
        </label>
        <label class="pull-right">
           <form method="post" action= '/deleteNotification'>
            <input type=hidden value="{{notification.notificationId}}" name="notification_to_delete"></input>
            <button type= "submit" class="btn btn-danger  btn-xs glyphicon glyphicon-trash"  title="Delete"></button>
            </form>
        </label>
        <div class="break"></div>
      </li> {% endif %}
				{% endfor %}
			 {% endif %}
    </ul>

  </div>


</div>

{% endblock %}
