{% extends "layout.html" %} {% block title %}UserPage{% endblock %}
{%block navbarsignup %}

<ul class="nav navbar-nav navbar-right">
	<li><a href="#">Link</a></li>
	<li class="dropdown"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown" role="button" aria-haspopup="true"
		aria-expanded="false"><span class="glyphicon glyphicon-user"></span>
			Username </a>
		<ul class="dropdown-menu">
			<li><a href="#"><span class="glyphicon glyphicon-user"> Profile</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-envelope"> Inbox</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-cog"> Settings</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="#"><span class="glyphicon glyphicon-log-out"> Log-out</a></li>
		</ul></li>

</ul>

{% endblock %} {% block content %} {% endblock %}



