{% extends "layout.html" %} {% block title %}UserPage{% endblock %}
{%block navbarsignup %}

<ul class="nav navbar-nav navbar-right">
	<li><a href="#">Link</a></li>
	<li class="dropdown"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown" role="button" aria-haspopup="true"
		aria-expanded="false"><span class="glyphicon glyphicon-user"></span>
			Username </a>
		<ul class="dropdown-menu">
			<li><a href="#"><span class="glyphicon glyphicon-user">
						Profile</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-envelope">
						Inbox</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-cog">
						Settings</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="#"><span class="glyphicon glyphicon-log-out">
						Log-out</a></li>
		</ul></li>

</ul>

{% endblock %} {% block content %}
<div class="container">

	<div class="col-md-8 col-lg-offset-2">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>User Profile</h1>
			</div>
			<div class="panel-body">

				<div class="box box-info">

					<div class="box-body">
						<div class="col-sm-6">
							<div align="center">
								<img alt="User Pic"
									src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
									id="profile-image1" class="img-circle img-responsive"> <input
									id="profile-image-upload" class="hidden" type="file">
								<div style="color: #999;">click here to change profile
									image</div>
								<!--Upload Image Js And Css-->

							</div>

							<br>

							<!-- /input-group -->
						</div>
						<div class="col-sm-6">
							<h1 style="color: #00b1b1;">Nice Person</h1>
							</span> <span><h4>Username</h4></span>
						</div>
						<div class="clearfix"></div>
						<hr style="margin: 5px 0 5px 0;">


						<div class="col-sm-5 col-xs-6 tital "><h4>First Name:</h4></div>
						<div class="col-sm-7 col-xs-6 "><h4>Nice</h4></div>
						<div class="clearfix"></div>
						<div class="bot-border"></div>


						<div class="col-sm-5 col-xs-6 tital "><h4>Last Name:</h4></div>
						<div class="col-sm-7"><span><h4>Person</h4></span></div>
						<div class="clearfix"></div>
						<div class="bot-border"></div>

						<div class="col-sm-5 col-xs-6 tital "><h4>Date Of Joining:</h4></div>
						<div class="col-sm-7"><h4>21 March 2050</h4></div>

						<div class="clearfix"></div>
						<div class="bot-border"></div>

						<div class="col-sm-5 col-xs-6 tital "><h4>Date Of Birth:</h4></div>
						<div class="col-sm-7"><h4>23 may 2050</h4></div>

						<div class="clearfix"></div>
						<div class="bot-border"></div>

						<div class="col-sm-5 col-xs-6 tital "><h4>Country:</h4></div>
						<div class="col-sm-7"><h4>Unknown</h4></div>

						<div class="clearfix"></div>
						<div class="bot-border"></div>

						<div class="col-sm-5 col-xs-6 tital "><h4>Gender:</h4></div>
						<div class="col-sm-7"><h4>Unknown</h4></div>

						<div class="clearfix"></div>
						<div class="bot-border"></div>

						<!-- /.box-body -->
					</div>
					<!-- /.box -->

				</div>


			</div>
		</div>
	</div>
	<script>
		$(function() {
			$('#profile-image1').on('click', function() {
				$('#profile-image-upload').click();
			});
		});
	</script>
</div>


{% endblock %}



